<%- partial('../tweet/new.ejs') %>
<div class="row">
  <div id="tweets-refresh" class="col-md-4" style="margin-top: 20px;">
    <%- partial('../tweet/index.ejs', data) %>
  </div>
  <div id="tweets-refresh" class="col-md-4" style="margin-top: 20px;">
    <%- partial('../tweet/tweetAlta.ejs', data) %>
  </div>
  <div id="tweets-refresh" class="col-md-4" style="margin-top: 20px;">
    <%- partial('../tweet/tweetMedia.ejs', data) %>
  </div>
</div>
