<div class="container">
  <div class="jumbotron">
    <h1>App Novedades</h1>
    <h2>Alpha test.</h2>
    <a href="/user/new" class="btn btn-lg btn-success">Crea tu cuenta!</a>
  </div>
  <% include sign_in %>
</div>
